
.game {
    text-align: center;
    background-color: white;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /* display: flex; */
    color: black;
}

body {
/*    padding: 0%;
    margin: 0;*/
    text-align: center;
    font-size: 1em;
    font-family: verdana;
    margin: 0;
}

nav {
    height: 60px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;
}

    nav h1 {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
        color: white;
        font-size: 45px;
    }

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-nav .nav-link {
    color: #23395b !important;
    font-weight: 500;
    margin-left: 15px !important;
    position: relative;
}

    .navbar-nav .nav-link:hover {
        color: #007cbe !important;
    }

    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 2px;
        width: 80%;
        background-color: #007cbe !important;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .navbar-nav .nav-link:hover::after {
        opacity: 1;
    }


/*.game {*/
/*    width: 100vw;*/
    /*height: calc(100vh - 170px);*/
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}
.gameTitle {*/
/*    width: 100vw;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: #007CBE;
}*/

/*.board {
    width: 450px;
    height: 550px;
    border: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.letter {
    flex: 33%;
    height: 100%;
    border: 1px solid #34495E;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#correct {
    background-color: #528d4e;
    color: white;
}

#almost {
    background-color: #b49f39;
    color: white;
}

#error {
    background-color: #34495E;
    color: white;
}

.keyboard {
    width: 700px;
    height: 300px;
    margin-top: 60px;
}

.line1 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.line2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.key {
    width: 50px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: #34495E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.gameOver {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .gameOver h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
        color: #34495E;
    }

    .gameOver h1 {
        font-size: 1.2em;
        margin-bottom: 25px;
        color: #59C9A5;
    }

    .gameOver h3:nth-child(2) {
        margin-top: 10px;
    }


#big {
    width: 100px;
}

#disabled {
    background-color: rgba(52, 73, 94, 0.5);
}
*/

/* rows */

h1 {
    font-size: 1.5em;
    padding: 20px 0;
    margin: 0 0 30px 0;
    color: #007CBE;
    text-align: center;
    position: relative;
}

    h1::after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: #8E9DAF;
        position: absolute;
        bottom: 0;
        left: 25%;
    }


.solution {
    padding-bottom: 20px;
}

.board {
    width: 450px;
    height: 550px;
    /*border: 1px solid #EBF7EF;*/
    border-radius: 5px;
    /*    padding-bottom: 10px;*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(179, 191, 203, 0.7);
    box-shadow: 0px 4px 20px rgba(179, 191, 203, 0.8);
}
/* rows */
.row {
    text-align: center;
    display: flex;
    justify-content: center;
}

    .row > div {
        display: block;
        width: 70px;
        height: 70px;
        border: 1px solid #8E9DAF;
        border-radius: 2px;
        margin: 4px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #23395B;
        font-size: 2.5em;
    }

        .row > div.green {
            --background: #528d4e;
            --border-color: #528d4e;
            animation: flip 0.5s ease forwards;
        }

        .row > div.grey {
            --background: #34495E;
            --border-color: #34495E;
            animation: flip 0.6s ease forwards;
        }

        .row > div.yellow {
            --background: #b49f39;
            --border-color: #b49f39;
            animation: flip 0.5s ease forwards;
        }

        .row > div:nth-child(2) {
            animation-delay: 0.2s;
        }

        .row > div:nth-child(3) {
            animation-delay: 0.4s;
        }

        .row > div:nth-child(4) {
            animation-delay: 0.6s;
        }

        .row > div:nth-child(5) {
            animation-delay: 0.8s;
        }

    .row.current > div.filled {
        animation: bounce 0.2s ease-in-out forwards;
    }

.gameOver {
    text-align: center;
    margin: 50px auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(236, 240, 241, 0.8);
}

    .gameOver div {
        max-width: 480px;
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        margin: 10% auto;
        background-color: #7fb7eb;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .gameOver h1 {
        color: #23395b;
    }

    .gameOver .solution {
        color: #e74c3c;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Arial', sans-serif;
    }

.keyboard {
    max-width: 500px;
    margin: 20px auto;
}

    .keyboard > div {
        margin: 5px;
        width: 40px;
        height: 50px;
        background: #eee;
        display: inline-block;
        border-radius: 6px;
        line-height: 50px;
    }

        .keyboard > div.green {
            background-color: #528d4e;
            color: white;
            transition: all 0.3s ease-in;
        }

        .keyboard > div.yellow {
            background-color: #b49f39;
            color: white;
            transition: all 0.3s ease-in;
        }

        .keyboard > div.grey {
            background-color: #34495E;
            color: white;
            transition: all 0.3s ease-in;
        }

/* keyframe animations */
@keyframes flip {
    0% {
        transform: rotateX(0);
        background: #fff;
        border-color: #333;
    }

    45% {
        transform: rotateX(90deg);
        background: white;
        border-color: #333;
    }

    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #eee;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        border-color: #ddd;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        border-color: #333;
    }
}