
.game {
    text-align: center;
    background-color: white;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /* display: flex; */
    color: black;
}

body {
/*    padding: 0%;
    margin: 0;*/
    text-align: center;
    font-size: 1em;
    font-family: verdana;
    margin: 0;
}

nav {
    height: 60px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;
}

    nav h1 {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
        color: white;
        font-size: 45px;
    }

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-nav .nav-link {
    color: #23395b !important;
    font-weight: 500;
    margin-left: 15px !important;
    position: relative;
}

    .navbar-nav .nav-link:hover {
        color: #007cbe !important;
    }

    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 2px;
        width: 80%;
        background-color: #007cbe !important;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .navbar-nav .nav-link:hover::after {
        opacity: 1;
    }

h1 {
    font-size: 1.5em;
    padding: 20px 0;
    margin: 0 0 30px 0;
    color: #007CBE;
    text-align: center;
    position: relative;
}

    h1::after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: #8E9DAF;
        position: absolute;
        bottom: 0;
        left: 25%;
    }


.solution {
    padding-bottom: 20px;
}

.board {
    width: 450px;
    height: 550px;
    /*border: 1px solid #EBF7EF;*/
    border-radius: 5px;
    /*    padding-bottom: 10px;*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(179, 191, 203, 0.7);
    box-shadow: 0px 4px 20px rgba(179, 191, 203, 0.8);
}
/* rows */
.row {
    text-align: center;
    display: flex;
    justify-content: center;
}

    .row > div {
        display: block;
        width: 70px;
        height: 70px;
        border: 1px solid #8E9DAF;
        border-radius: 2px;
        margin: 4px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #23395B;
        font-size: 2.5em;
    }

        .row > div.green {
            --background: #528d4e;
            --border-color: #528d4e;
            animation: flip 0.5s ease forwards;
        }

        .row > div.grey {
            --background: #34495E;
            --border-color: #34495E;
            animation: flip 0.6s ease forwards;
        }

        .row > div.yellow {
            --background: #b49f39;
            --border-color: #b49f39;
            animation: flip 0.5s ease forwards;
        }

        .row > div:nth-child(2) {
            animation-delay: 0.2s;
        }

        .row > div:nth-child(3) {
            animation-delay: 0.4s;
        }

        .row > div:nth-child(4) {
            animation-delay: 0.6s;
        }

        .row > div:nth-child(5) {
            animation-delay: 0.8s;
        }

    .row.current > div.filled {
        animation: bounce 0.2s ease-in-out forwards;
    }

.gameOver {
    text-align: center;
    margin: 50px auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(236, 240, 241, 0.8);
}

    .gameOver div {
        max-width: 480px;
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        margin: 10% auto;
        background-color: #7fb7eb;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .gameOver h1 {
        color: #23395b;
    }

    .gameOver .solution {
        color: #e74c3c;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Arial', sans-serif;
    }

    .gameOver button {
        background-color: #FFFD98;
        color: #23395b;
        font-size: 1em;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s;
    }

        .gameOver button:hover {
            background-color: #FBAF00;
        }


.keyboard {
    max-width: 500px;
    margin: 20px auto;
    margin-top: 50px;
}

    .keyboard > div {
        margin: 5px;
        min-width: 40px;
        max-width: 70px;
        padding: 0 5px;
        height: 50px;
        background-color: rgba(179, 191, 203, 0.7);
        display: inline-block;
        border-radius: 6px;
        line-height: 50px;
    }

        .keyboard > div.green {
            background-color: #528d4e;
            color: white;
            transition: all 0.3s ease-in;
        }

        .keyboard > div.yellow {
            background-color: #b49f39;
            color: white;
            transition: all 0.3s ease-in;
        }

        .keyboard > div.grey {
            background-color: #34495E;
            color: white;
            transition: all 0.3s ease-in;
        }

/* keyframe animations */
@keyframes flip {
    0% {
        transform: rotateX(0);
        background: #fff;
        border-color: #333;
    }

    45% {
        transform: rotateX(90deg);
        background: white;
        border-color: #333;
    }

    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #eee;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        border-color: #ddd;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        border-color: #333;
    }
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions, .rules, .tips {
    margin-bottom: 20px;
}


.centered-content {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    max-width: 500px;
    padding-left: 2.5rem;
    margin-top: 20px;
    font-size: 16px;
}

.word-list {
    clear: both;
    list-style: none !important;
    padding: 0;
    text-align: left;
}

.feedback {
    clear: inherit;
    padding-left: 2rem;
}
a {
    text-decoration: initial;
    width: initial;
}
.button {
    margin: 0 auto;
    width: 200px;
    background-color: #59C9A5;
    color: #23395b;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

    .button:hover {
        background-color: #FBAF00;
    }


