/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-nav .nav-link {
    color: #23395b !important;
    font-weight: 500;
    margin-left: 15px !important;
    position: relative;
    /*color: #cbb3bf !important;*/
}

    .navbar-nav .nav-link:hover {
        color: #007cbe !important;
    }

    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 2px;
        width: 80%;
        background-color: #007cbe !important;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .navbar-nav .nav-link:hover::after {
        opacity: 1;
    }
